gensim==3.8.1
matplotlib==3.3.3
nltk~=3.6.5
numpy~=1.21.4
pandas==1.4.1
scikit-learn~=1.0.1
rouge-score==0.0.4
tokenizers==0.11.6
torch~=1.10.0
transformers~=4.17.0
tqdm==4.49.0
scipy==1.8.0
summa==1.2.0
datasets~=2.0.0